<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/functions.js"></script>
        <title>Localizador de Tweets</title>
    </head>
    <body>
        <div class="centered">
            <img src="/img/logo.png" width="120" height="120">
            <h1>Localizador de Tweets</h1>
            <h3>Autorización</h3>
            Esta aplicación requiere que autorices tu cuenta de Twitter para hacer uso de ella.<br><br>
            <a href="/OAuthTwitterHandler">
                <img src="/img/connect_with_twitter.gif" width="250" height="50" alt="Connect with Twitter">
            </a>
        </div>
    </body>
</html>
