<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="js/functions.js"></script>
    <title>Localizador de Tweets</title>
</head>
<body>
<div class="container-fluid min-100 d-flex flex-column" style="max-height:100%;overflow:hidden">
    <nav class="navbar navbar-expand-lg navbar-light bg-light flex-shrink-0">
        <a class="navbar-brand" href="#"><img src="/img/logo.png" width="25" height="25"
                                              style="vertical-align: center">TweetLoc</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://api-proyecto-colaborativo.readthedocs.io/">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/owentrigueros/API_Proyecto_Colaborativo">Source</a>
                </li>
            </ul>
            <li class="navbar-text">
                <span>Hola, @{{twitter_user}} </span>
            </li>
            <li class="navbar-text">
                <a class="nav-link" href="/cerrar_sesion">Cerrar sesi&oacute;n</a>
            </li>
        </div>
    </nav>


    <div class="row flex-grow-1 bg-light" style="max-height:100%;overflow:hidden">
        <div class="col-sm-4">
            <!-- <img src="/img/logo.png" width="120" height="120">  -->
            <div class="card">
                <div class="card-body">
                    <form class="form-inline" action="/search" method="get" name="form">
                        <span class="mb-2 mr-sm-2 vertical-align">Localizador de Tweets</span>
                        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Busqueda..." id="query"
                               name="query">
                        <button type="submit" class="btn btn-secondary mb-2" onclick=comprobarFormulario(form)>
                            Buscar
                        </button>
                    </form>
                    {% if not tweets and not firstlogin %}
                    <i>No se han encontrado resultados geolocalizados.</i>
                    {% endif%}
                </div>
            </div>
            <div class="pre-scrollable" style="max-height: 80vh">
                {% if tweets %}
                {% for tweet in tweets %}
                {% if tweet.location.lat and tweet.location.lon %}
                <div class="card bg-light"
                     onclick="refreshMapCoordinates({{ tweet.location.lat }}, {{ tweet.location.lon }})">
                    {% else %}
                    <div class="card bg-light"
                         onclick="refreshMapPlace('{{ tweet.location.name }}')">
                        {% endif %}
                        <div class="card-body"> {{ tweet.text }}</div>
                        <div class="card-footer"> {{ tweet.user }} (@{{ tweet.screen_name }})</div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-8">

                <iframe id="1"
                        width="800"
                        height="600"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                        src="https://www.openstreetmap.org/export/embed.html?bbox=-3.0014991760253906%2C43.224066787791514%2C-2.8700065612792973%2C43.303944586803205&amp;layer=mapnik&amp;marker=43.26408129051358%2C-2.9357528686523438"
                        style="border: 1px solid black">
                </iframe>

            </div>
        </div>
    </div>
</body>
</html>
